body { 
	/*linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),*/
	background-image: url("../img/Skyline.jpg");
	background-size: cover, contain;
	/*background-color: rgba(0, 0, 0, 0.2);  	*/
			  /*background: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
			  background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,1));
			  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));*/

			}
			.navbar{
				opacity: 0.9;
			}
			.darken {
				background-color: rgba(0, 0, 0, 0.2);
			}
			.whiten {
				background-color: rgba(255, 255, 255, 0.4);
			}
			.header-font {
				font-family: 'Comfortaa', cursive;
			}
			.text-font {
				font-family: 'Raleway', sans-serif;
			}
			.footer {
				width: 100%;
				height: 20px;
				bottom: 0px;
				left: 0;
				position: fixed;
				background-color: rgba(255, 255, 255, 0.5);
			}
			.icons{
				margin-top: -45px;
				text-align: right;
				display: block;
			}
			.interest:hover > .content{
				-webkit-transform: scale(1,1);	
				opacity: 1.0;
			}
			.content {
				padding: 30px;
				margin: 10px;
				/*opacity: 0.3;*/
				-webkit-transition: opacity 0.4s ease;
			}
			.img-responsive:hover{
				-webkit-transition: scale(1.3,1.3);
			}
			.language{
				height: 40px;
				-webkit-border-radius: 14px;
				-moz-border-radius: 14px;
				border-radius: 14px;
				/*background-color: rgba(38,56,94,0.8);*/
				/*margin-top: -5px;*/
				box-shadow: 0 1px 1px rgba(44,62,80,0.7);
			}
			.language:hover{
				/*background-color: rgba(38,56,94,0.8);	*/
				-webkit-transition: background-color ease 0.5s;
			}
			.dropdown-menu{
				padding: 1px;
			}
			/*.list-group-item{
				opacity: 0;
			}
			*/
			/*.academic{
				opacity: 0;	
				-webkit-transition: background-color 0.4s ease-out, opacity 0.4s ease-out;
			}
			.work{
				opacity: 0;
			}
			.culture{
				opacity: 0;
			}
			.list-group-item:hover{
				background-color: rgba(117, 155, 178, 0.3);
			}
			
			.panel-primary{

				height: 1px;
				margin: 40px;
				-webkit-transition: min-height 0.4s ease-out, opacity 0.4s ease-out;
			}
			.panel-warning{

				height: 1px;
				margin: 40px;
				-webkit-transition: min-height 0.4s ease-out, opacity 0.4s ease-out;
			}
			.panel-success{
				height: 1px;
				margin: 40px;
				-webkit-transition: min-height 0.4s ease-out, opacity 0.4s ease-out;
			}
			.panel-primary:hover{
				min-height: 100px;

			}
			.panel-primary:hover > .academic{
				opacity: 1;
				margin-bottom: 110px;
			}
			.panel-warning:hover{
				min-height: 200px;

			}
			.panel-warning:hover > .work{
				opacity: 1;

			}
			.panel-success:hover{
				min-height: 100px;
			}
			.panel-success:hover > .culture{
				opacity: 1;
			}*/