body { 
		background-image: url("../img/Skyline.jpg");
		background-size: cover;
	}
	.navbar{
		opacity: 0.9;
	}
	.darken {
		background-color: rgba(0, 0, 0, 0.2);  					
	}
	.header-font {
		font-family: 'Comfortaa', cursive;
		font-size: 60px;
	}
	.text-font {
		font-family: 'Raleway', sans-serif;
	}
	.footer {
		width: 100%;
		height: 20px;
		bottom: 0px;
		left: 0;
		position: fixed;
		background-color: rgba(255, 255, 255, 0.5);
	}
	.large-banner{
		/*margin-left: 80px;*/
		vertical-align: middle;
		padding-left: 80px;
		padding-right: 80px;
		padding-bottom: 80px;
		padding-top: 25px;
		margin-top: 50px;
		background-color: rgba(64,64,64,0.75);
		text-align: center;
		box-shadow: 0 0 10px black;
	}
	.banner-font {
		color: white;
		margin-bottom: 40px;
	}
	.banner-button{
		/*border-color: #FFFFFF;*/
		margin-top: 50px;
		border: 1px solid #EFFCFD;
		border-radius: 15px;
		box-shadow: 0 0 5px white;
		/*padding: 10px;*/
		width: 600px;
		height: 100px;
		font-family: 'Raleway', sans-serif;
		font-size: 24px;
		color: #EFFCFD;
		background-color: rgba(0,0,0,0);
		text-transform: uppercase;
		-webkit-transition: background 0.4s ease-in;
		-o-transition: background 0.4s ease-in;
		transition: background 0.4s ease-in;
	}
	.banner-button:hover{
		color: #000000;
		background-color: rgba(255,255,255,1);
		box-shadow: 0 0 5px black;
	}